# CMAKE
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt

# ECLIPSE and other IDEs
.project
.cproject
*.pydevproject

# Python
*.ipynb_checkpoints/
*.pyc

# Browser
.browsercache.json
.eman2settings

# EMAN2 libs
lib/
libpy*.dylib
libpy*.so

# horatio's .gitignore options
.idea/
CVS/

