image: Visual Studio 2017

environment:
  TARGET_ARCH: x64
  CONDA_PY: 37
  CONDA_INSTALL_LOCN: C:\\Miniconda37-x64

platform:
    - x64

install:
    - call %CONDA_INSTALL_LOCN%\Scripts\activate.bat
    - python -m compileall -q -x .git .
    - set
    # Cywing's git breaks conda-build. (See https://github.com/conda-forge/conda-smithy-feedstock/pull/2.)
    - rmdir C:\cygwin /s /q

    - set PYTHONUNBUFFERED=1
    - set CPU_COUNT=2
    - set EMAN_VERSION=2.9
    - set EMAN_DEPS_VERSION=27.0

    - conda.exe config --set show_channel_urls true

    - conda.exe install conda conda-build -c defaults --yes

    - conda.exe info -a
    - conda.exe config --get
    - conda.exe render %APPVEYOR_BUILD_FOLDER%\recipe


# Skip .NET project specific build phase.
build: off

test_script:
    - conda.exe build %APPVEYOR_BUILD_FOLDER%\recipe -c cryoem -c defaults -c conda-forge
