body {
  background-image: linear-gradient(to right, white, #cce5ff);
}
h1 {
  color: blue;
}
p {
  color: mediumvioletred;
}
pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
table, th, td {
  border: 1px groove black;
}
ul
{
  list-style-type: none;
}
ul li
{
  float: left;
  width: 20%;
}
